[
    "Open_vSwitch",
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row":
        {
            "if_name": "{{ CONFIG_TARGET_ETH0_NAME }}",
            "ip_assign_scheme": "none",
            "if_type": "eth",
            "enabled": true,
            "network": true,
            "mtu": 1500,
            "NAT": false
        }
    },
    {
        "op":"insert",
        "table":"Wifi_Inet_Config",
        "row":
        {
            "if_name": "{{ CONFIG_TARGET_ETH1_NAME }}",
            "ip_assign_scheme": "none",
            "if_type": "eth",
            "enabled": true,
            "network": true,
            "mtu": 1500,
            "NAT": false
        }
    }
]
